<aside class="col-3 border border-light bg-white p-2">
	<article class="card mb-3">
		<div class="card-header">categories</div>
		<div class="card-body">
			<p>
				<a href="">Liste des categories</a>
			</p>
			<p>
				<a href="">Ajouter des categories</a>
			</p>
		</div>
	</article>
	<article class="card mb-3">
		<div class="card-header">Articles</div>
		<div class="card-body">
			<p>
				<a href="">Liste des Articles</a>
			</p>
			<p>
				<a href="">Ajouter un article</a>
			</p>
		</div>
	</article>
</aside>
