{% extends "base.html.twig" %}

{% block title %}
	Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<section class="container mt-4">
		<div class="row">
			<div class="col mx-4 mx-lg-0">
				<h1>Réinitialisation de mot de passe</h1>
				{{ form_start(passForm) }}
				{{ form_row(passForm.password) }}
				<button type='submit' class="btn btn-primary">Envoyer</button>
				{{ form_end(passForm) }}
			</div>
		</div>
	</section>
{% endblock %}
