/***************************************************************** style commun */
@font-face {
	font-family: 'raph';
	src: url('../css/font/RaphLanokFuture.ttf') format("truetype"),
}
p, a, h1, h2, h3, h4, span{
    font-family: 'Courier Prime ','Courier New', Courier, monospace;
}



#main{
  padding-top: 67px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
}
#imgArticle{
  background-image: url('../image/header2.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.eventHover{
  transition: 0.5s;
}
.eventHover:hover{
  transform: scale(1.075);
}
.articleHover{
transition: 0.3s;
}
.articleHover:hover{
transform: scaleY(1.09);
}
#imageArticle{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: black;
}
.introSection{
  overflow-y: hidden;
  max-height: 148px;
}

.back {
  position: relative;
  transition: 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}
.front{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}
.front:hover {
  opacity: 1;
  z-index: 2;
}

/******************************************************* style pour la page d'accueil */
.headerImage{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}
#mainAccueil{
  background-image: url('../image/Astronote.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#section1Accueil{
  position:relative;
  top: -200px;
  background: linear-gradient(180deg, rgba(7, 31, 100,1) 48%, rgba(255,255,255,0) 85%);
}
.imageArticleDetails{
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* style pour le carousel devenement */
.slider {
  display: flex;
  max-height: auto;
  overflow-y: hidden;
  overflow-x: scroll !important;
  padding: 16px;
  transform: scroll(calc(var(--i,0)/var(--n)*-100%));
  scroll-behavior: smooth;
}
.slider::-webkit-scrollbar {
  height: 5px;
  width: 150px;
  display: none;
}
.slider::-webkit-scrollbar-track {
  background: transparent;
}
.slider::-webkit-scrollbar-thumb {
  background: #888;
}
.slider::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.slider img:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
}
.slide {
  position: relative;
  width: 100%;
  /* height: 500px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide p {
  /* height: 100%; */
  width: 250px;
  margin: 0 10px;
  object-fit: cover;
}
.control-prev-btn {
  position: absolute;
  margin-top:150px; 
  left: 0;
  background-color: rgba(255,255,255,0.55);
  height: 100px;
  line-height: 100px;
  width: 45px;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  user-select: none;
  color: #444;
  cursor: pointer;
  z-index: 5;
}
.control-next-btn {
  position: absolute;
  margin-top:150px; 
  right: 0;
  background-color: rgba(255,255,255,0.55);
  height: 100px;
  line-height: 100px;
  width: 45px;
  text-align: center;
  box-shadow: 0 1px 3px #888;
  user-select: none;
  color: #444;
  cursor: pointer;
}
.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.45);
  top: 0;
  display: none;
}
.overlay.active{
  display: block;
}
@media only screen and (max-width: 420px) {
  .slider {
    padding: 0;
  }
  .slide {
    padding: 16px 10px;
  }
  .slide img {
    margin: 0;
  }
  .control-prev-btn {
    top: 37%;
  }
  .control-next-btn {
    top: 37%;
  }
}
.sectionAccueil{
    position: relative;
    top: -150px;
}
#newsLetterAccueil{
    background-color: #051525;
    margin-top: -150px;
}



/****************************************************************** style pour la page d'accueil des event */
#headerEvent{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}
@media screen and (max-width: 992px) {
  #article1section1 {
    margin-top: -250px;
  }
}
#imgSection1EventAccueil{
  position: absolute;
  max-width: 450px;
  right: 10%;
  top: 450px;
}
@media screen and (max-width: 1400px) {
  #imgSection1EventAccueil {
    right: 3%;
  }
}
@media screen and (max-width: 992px) {
  #imgSection1EventAccueil {
    position: relative;
    right: 0;
    transform: translate(0, -110%);
    max-width: 480px;
  }
}
#backgroundImgEvent{
  background-size: cover;
  background-position: center;
} 
.car{
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
}
.video-responsive {
  overflow:hidden;
  padding-bottom:56.25%; 
  position:relative;
  height:0;
  }
.video-responsive iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/********************************************************************************* style pour la page contact */
#bg-image {
  background-image: url("../image/jk.jpg");
  filter: brightness(50%);
  -webkit-filter: brightness(50%);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#bg-text {
  position: relative;
  transform: translate(20%, -110%);
  z-index: 2;
  width: 75%;
}

/******************************************************************************* style pour la page administrateur */
.bgImg {
  filter: brightness(65%);
  -webkit-filter: brightness(65%);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgText {
  position: relative;
  transform: translate(5%, -110%);
  z-index: 2;
  width: 90%;
}
@media screen and (max-width: 612px) {
  .bgText {
    width: 80%;
  }
}

.modal-window {
  /* position: fixed; */
  /* background-color: rgba(255, 255, 255, 0.25); */
  /* top: 0; */
  right: 0;
  /* bottom: 0; */
  left: 0;
  z-index: 7;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  & > div {
    border-radius: 1rem;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.5em;
    background: white;
  }
}
@media screen and (max-width: 612px) {
  .modal-window > div {
    width: 400px;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 20px;
  text-align: center;
  top: 20px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

/* Demo Styles */
.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}

#ouvert{
  background-color: #d3d3d3;
}


/* style pour la page admin Nationsound */
#homeNationSound {
  background: linear-gradient(#f1793c, #6c24dd, #5dd29b);
}
.title{
  font-family: 'raph';
  font-size: 5em;
}
.sectionHomeNationSound{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#sectionJournee {
  background-image: url(../image/logo.jpg)
}
#sectionEpisode {
  background-image: url(../image/header2.jpg);
}
#sectionArtiste {
  background-image: url(../image/music.jpg);
}
#sectionScene {
  background-image: url(../image/jk.jpg);
}
#sectionLieux {
  background-image: url(../image/event.jpg);
}
#sectionAccueil {
  background-image: url(../image/paris.jpg);
}
#sectionBilletterie {
  background-image: url(../image/ticket.jpg);
}
#sectionPageProgramme {
  background-image: url(../image/header2.jpg);
}
#sectionActualite {
  background-image: url(../image/audience-g7db68d50c_640.jpg);
}
#sectionSponsor {
  background-image: url(../image/leaves_plant_green_136320_1024x768.jpg);
}
#sectionApropos {
  background-image: url(../image/logo.jpg);
}
#sectionCharte {
  background-image: url(../image/charte.jpg);
}
#sectionLiens {
  background-image: url(../image/link.jpg);
}

/* style pour la page admin Nationsound Programme*/
.imgCard{
  height: 300px;
}
/* style pour la page description artiste*/
.featuredimageArtiste{
  height: 500px;
}
/* style pour le contenu des pages page*/
.imgHeader{
  height: 500px;
  width: 100%;
}

/* style pour la page test */


