{% extends 'baseTest.html.twig' %}

{% block title %}Page de test
{% endblock %}

{% block body %}
	<header class='container py-4'>
		<h2 class='text-center fw-bold'>Page de test</h2>
	</header>
	<article class='px-4'>
		<h1>Bonjours</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, facere reiciendis? Et, voluptas nulla? Sequi, veritatis quaerat odit consequuntur tempora dolorum porro quia, laborum commodi, dolores similique optio aliquid voluptates dolore possimus! Aliquam, libero! Ducimus quam obcaecati dicta vero, iusto facilis eaque blanditiis quod, eveniet aperiam similique quaerat voluptatum neque!</p>

	</article>
{% endblock %}
