{% extends 'base.html.twig' %}

{% block title %}Mes articles
{% endblock %}

{% block body %}
	<header class='container pt-5 pb-4 px-4 px-lg-0 '>
		<article class='row'>
			<h1 class='fw-bold col ps-0'>Liste de tous mes articles</h1>
			<hr>
		</article>
		<a class='btn btn-primary row' href="{{path('app_editArticle')}}">Rédiger un nouveau article</a>
	</header>

	{% if articles is not empty %}
	   	{% include '_partials/admin/_articles.html.twig' %}
	{% else %}
		<article class='container py-4'>
			<p>Vous n'avez pour l'instant rediger aucun article</p>
			<p>Vous pouvez commencer à rediger en cliquant sur le bouton ci dessus</p>
		</article>
	{% endif %}

{% endblock %}
