{% extends 'base.html.twig' %}

{% block title %}Ajout image de fond
{% endblock %}

{% block body %}
	<header class='container pt-5 pb-4 px-5 px-lg-0'>
		<article class='row'>
			<h1 class='fw-bold col ps-0'>Ajout d'une image de fond</h1>
			<hr>
		</article>
	</header>
	<section class="container px-4 px-lg-0">
		<div class="row">
			<div class="col ">
				{{ form_start(form) }}
				{{ form_end(form) }}
			</div>
		</div>
	</section>
{% endblock %}
